<odoo>
    <menuitem id="menu_purchase_issue_tracker_root" name="Issue Tracker" sequence="10"/>
    <menuitem id="menu_purchase_issue_tracker"
              parent="menu_purchase_issue_tracker_root"
              name="Purchase Issue Tracker"
              action="action_issue_tracker"
              sequence="10"/>
</odoo>
